body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: white;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.5%;
}

.logo img {
    height: 65px;
    width: 65px;
    margin-left: 15px;
}

#btn1, #btn3 {
    padding: 25px;
}

.cta .btn {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: #4891FF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta .btn:hover {
    background-color: #2650a4;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

#mainimagedumarche {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#mainimagedumarche img {
    border-radius: 8%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 70vh; /* Ajustez cette valeur selon la taille de votre image */
}

footer {
    background-color: #ffffff;
    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-align: right;
}

footer p {
    margin: 5px 0;
    color: #575757;
    font-size: 12px;
}

@media only screen and (max-width: 800px) {
    main {
        margin-top: 1%;
    }

    #mainimagedumarche {
        width: 100%;
        margin-top: 20px;
    }

    #mainimagedumarche img {
        width: 100%;
        height: auto;
        max-height: 50vh; /* Ajustez cette valeur selon la taille de votre image */
    }

    footer {
        padding-bottom: 5%;
    }
}
