 body {
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
  

        background-color: white;
        
  
}

.header-content {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.5%;
    
 
}

.logo img {
    height: 65px;
    width: 65px;
    margin-left: 15px;
}

.title {
    text-align: left;
    margin: 0; 
}

.title h1 {
    font-size: 1.5em;
}

.title h2 {
    margin: 0;
    font-size: 0.8em;
    color: #888;
}

#btn1 {

    padding:25px;
}

.cta .btn {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;

    background-color: #4891FF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    
   
}

.cta .btn:hover {
    background-color: #2650a4;
}

main {
    display: flex;
    align-items: left;
    margin-bottom: 9%;
    margin-top: 8%;
    margin-right: 0.5%;

}

#mainheadline {

    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    width: 100%;
    min-width: 50%;
    max-width: 45%;


}

#titles {

    line-height: 1;
    margin-top: 0px;
}

#maintextproblems {
    min-width: 100%;
    text-align: left;
}

#maintextproblems h3 {
    margin: 10px;
}

#maintextproblems ul {
    margin: 10px;
    padding-left: 20px;
}


#telephone {

    margin-top:10px;
    padding-right: 5%;
    padding-left: 5%;;
    border-right: 40%;
    border-left:60%;
    text-align: left;
    font-family: "Poppins";
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: white;
    color: #4891FF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: none;
    

}

/*  padding-right: 5%;
    padding-left: 5%;;
    padding-top: 3%;
    padding-bottom: 3%;
    */
    
#mainimagedumarche {

      text-align: center;

}

#mainimagedumarche img {
    
    border-radius: 8%;

}

#video {

    width: 500px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    transform: scale(1.2,1.2);

}



footer {
    background-color: #ffffff;
    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-align: right;
}

footer p {
    margin-right: 10%;
    color: #575757;
    font-size: 10px;
    text-align: right;
}


@media only screen and (max-width: 800px) {
    main {
       font-size: 1em;
       display: flex;
       flex-direction: column;
       margin-top: 20px;
       margin-right: 20px;
       margin-left: 20px;
       margin-bottom: 20px;
       text-align: left;
       min-width: 500px;

       
    }

    #mainheadline {

        order: 2;
        max-width: 100%; /* Image prendra toute la largeur */
        width: 88%;
        border-radius: 3%;


    }

    #titles {

        line-height: 0.8;

    }

    #mainimagedumarche {

    
    }

    #mainimagedumarche img {
        order: 1;
        height: 90%;
        width: 90%;

      
       
    }

    #video { 

        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0%;
        transform: scale(1,1);


    }

    #maintextproblems {
        max-width: 100%; /* Texte prendra toute la largeur */
        text-align: left;
        margin: none; /* Ajout de marges normales */
    }

    #btn1 {

        padding:15px;
        margin-top: 10px;

}

    #telephone {
        margin-top:8px;
        border: solid 0.4px black;      
        text-align: left;
        border-radius: 1%;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: #ffffff;
        color: rgb(1, 1, 1);
        text-decoration: none;
        border-radius: 1%;
        transition: background-color 0.3s;
        width: 69%;


    }


    #payer {

        margin-top:8px;
        border: solid 0px white;      
        text-align: left;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 24px;
        padding-right: 24px black;
        background-color: #4891FF;
        color: white;
        text-decoration: none;
        border-radius: 1%;
        transition: background-color 0.3s;

        }
    }

     #button:hover {

        background-color: #2650a4;
     }
    


footer {

    padding-bottom:5%;
    
}
