body {
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: white;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.5%;
}

.logo img {
    height: 65px;
    width: 65px;
    margin-left: 15px;
}

.title {
    text-align: left;
    margin: 0;
}

.title h1 {
    font-size: 1.5em;
}

.title h2 {
    margin: 0;
    font-size: 0.8em;
    color: #888;
}

#btn1 {
    padding: 25px;
}

.cta .btn {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: #4891FF;
    color: white;
    text-decoration: non

